# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml "ceph/defaults.yaml" as default_settings %}
{% import_yaml "ceph/osfamilymap.yaml" as osfamilymap %}
{% import_yaml "ceph/osmap.yaml" as osmap %}
{% import_yaml "ceph/codenamemap.yaml" as oscodenamemap %}

{% set settings = salt['grains.filter_by'](
    default_settings,
    merge=salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
        merge=salt['grains.filter_by'](
            osmap,
            grain='os',
            merge=salt['grains.filter_by'](
                oscodenamemap,
                grain='oscodename',
                merge=salt['pillar.get']('ceph', {}),
                ),
            ),
        ),
    base='ceph',
) %}

{% if settings.config.global.authentication_type == 'cephx' %}
    {% set auth_type = 'cephx' %}
{% else %}
    {% set auth_type = 'none' %}
{% endif %}

{% do settings.config.global.update(
    { 'auth_cluster_required': auth_type,
      'auth_service_required': auth_type,
      'auth_client_required': auth_type,
      'auth_supported': auth_type
    })
%}

{% if settings.cluster_name %}
  {% do settings.config.update({'file': '/etc/ceph/' + settings.cluster_name + '.conf', }) %}
{% endif %}

# make 'ceph' alias for 'settings'
{% set ceph = settings %}
